@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {


  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
 .cat-icon { width: 52px; height: 52px; border-radius: var(--radius-lg); display: flex; align-items: center; justify-content: center;  font-size: 22px; }



:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
	--secondary: rgb(126, 140, 141);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bubble-gum {
	--background: rgb(244, 222, 233);
	--foreground: rgb(91, 91, 91);
	--card: rgb(253, 237, 201);
	--card-foreground: rgb(91, 91, 91);
	--popover: rgb(255, 255, 255);
	--popover-foreground: rgb(91, 91, 91);
	--primary: rgb(208, 79, 153);
	--primary-foreground: rgb(255, 255, 255);
	--secondary: rgb(138, 207, 209);
	--secondary-foreground: rgb(51, 51, 51);
	--muted: rgb(178, 225, 235);
	--muted-foreground: rgb(122, 122, 122);
	--accent: rgb(251, 226, 167);
	--accent-foreground: rgb(51, 51, 51);
	--destructive: rgb(249, 111, 112);
	--destructive-foreground: rgb(255, 255, 255);
	--border: rgb(208, 79, 153);
	--input: rgb(228, 228, 228);
	--ring: rgb(230, 112, 171);
	--chart-1: rgb(230, 112, 171);
	--chart-2: rgb(132, 210, 226);
	--chart-3: rgb(251, 226, 167);
	--chart-4: rgb(243, 160, 202);
	--chart-5: rgb(215, 72, 142);
	--sidebar: rgb(248, 216, 234);
	--sidebar-foreground: rgb(51, 51, 51);
	--sidebar-primary: rgb(236, 72, 153);
	--sidebar-primary-foreground: rgb(255, 255, 255);
	--sidebar-accent: rgb(249, 168, 212);
	--sidebar-accent-foreground: rgb(51, 51, 51);
	--sidebar-border: rgb(243, 232, 255);
	--sidebar-ring: rgb(236, 72, 153);
	--font-sans: Poppins, sans-serif;
	--font-serif: Lora, serif;
	--font-mono: Fira Code, monospace;
	--radius: 0.4rem;
	--shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
	--shadow-xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
	--shadow-sm:
		3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1), 3px 1px 2px -1px
		hsl(325.78 58.18% 56.86% / 1);
	--shadow:
		3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1), 3px 1px 2px -1px
		hsl(325.78 58.18% 56.86% / 1);
	--shadow-md:
		3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1), 3px 2px 4px -1px
		hsl(325.78 58.18% 56.86% / 1);
	--shadow-lg:
		3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1), 3px 4px 6px -1px
		hsl(325.78 58.18% 56.86% / 1);
	--shadow-xl:
		3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1), 3px 8px 10px -1px
		hsl(325.78 58.18% 56.86% / 1);
	--shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 2.5);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.candy-land {
  --background: #f7f9fa;
  --foreground: #333333;
  --card: #ffffff;
  --card-foreground: #333333;
  --popover: #ffffff;
  --popover-foreground: #333333;
  --primary: #ffc0cb;
  --primary-foreground: #000000;
  --secondary: #87ceeb;
  --secondary-foreground: #000000;
  --muted: #ddd9c4;
  --muted-foreground: #6e6e6e;
  --accent: #ffff00;
  --accent-foreground: #000000;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #d4d4d4;
  --input: #d4d4d4;
  --ring: #ffc0cb;
  --chart-1: #ffc0cb;
  --chart-2: #87ceeb;
  --chart-3: #ffff00;
  --chart-4: #ff99cc;
  --chart-5: #33cc33;
  --sidebar: #f7f9fa;
  --sidebar-foreground: #333333;
  --sidebar-primary: #ffc0cb;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #ffff00;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #d4d4d4;
  --sidebar-ring: #ffc0cb;
  --font-sans: Poppins, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.mocha {
  --background: #f1f0e5;
  --foreground: #56453f;
  --card: #f1f0e5;
  --card-foreground: #56453f;
  --popover: #ffffff;
  --popover-foreground: #56453f;
  --primary: #a37764;
  --primary-foreground: #ffffff;
  --secondary: #baab92;
  --secondary-foreground: #ffffff;
  --muted: #e4c7b8;
  --muted-foreground: #8a655a;
  --accent: #e4c7b8;
  --accent-foreground: #56453f;
  --destructive: #1f1a17;
  --destructive-foreground: #ffffff;
  --border: #baab92;
  --input: #baab92;
  --ring: #a37764;
  --chart-1: #a37764;
  --chart-2: #8a655a;
  --chart-3: #c39e88;
  --chart-4: #baab92;
  --chart-5: #a28777;
  --sidebar: #ebd6cb;
  --sidebar-foreground: #56453f;
  --sidebar-primary: #a37764;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #c39e88;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #a28777;
  --sidebar-ring: #a37764;
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.11;
  --shadow-color: hsl(20 18% 51% / 0.4);
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 2px 4px -1px hsl(20 18% 51% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 4px 6px -1px hsl(20 18% 51% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 8px 10px -1px hsl(20 18% 51% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.soft-pop {
  --background: #f7f9f3;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #4f46e5;
  --primary-foreground: #ffffff;
  --secondary: #14b8a6;
  --secondary-foreground: #ffffff;
  --muted: #f0f0f0;
  --muted-foreground: #333333;
  --accent: #f59e0b;
  --accent-foreground: #000000;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #000000;
  --input: #737373;
  --ring: #a5b4fc;
  --chart-1: #4f46e5;
  --chart-2: #14b8a6;
  --chart-3: #f59e0b;
  --chart-4: #ec4899;
  --chart-5: #22c55e;
  --sidebar: #f7f9f3;
  --sidebar-foreground: #000000;
  --sidebar-primary: #4f46e5;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f59e0b;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #000000;
  --sidebar-ring: #a5b4fc;
  --font-sans: DM Sans, sans-serif;
  --font-serif: DM Sans, sans-serif;
  --font-mono: Space Mono, monospace;
  --radius: 1rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.03);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.05), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 10.1961% / 0.13);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

